p{
    font-family: Yekan;
    text-align: right;
}
.news{
    width: 100%;
    height:500px;
    background-color: rgba(240, 114, 202, 0.384);
    margin-top:5px ;
    margin-bottom:5px ;
}
.img-right{
    display: flex;
    width: 20%;
}
.content-left{
    width: 80%;
    display: block;
    padding: 10px 10px 10px 10px;
}